body {
    margin: 10px;
}

div {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

.tab {
    width: 90%
}

.td1 {
    background-color: #EEEEEE;
}

.td2 {
    width: 37%;
    background-color: #7EE5DA;
}

.td3 {
    background-color: #70CCC2;
}

.td4 {
    background-color: #62B3AA;
}

.chld {
    font-size: 0.9rem;
}